{% extends 'base.html' %}

{% block title %} Add Pet Form {% endblock %}

{% block content %}
<div class="container w-50 mx-auto">
<h1 class="text-center">Add a Pet!</h1>
<form action="/add" method="POST">
  {{ form.hidden_tag() }}
  {% for field in form if field.widget.input_type != 'hidden' %}
  <div class="form-group">
    {{ field.label }}
    {{ field(class_="form-control") }}
    {% for err in field.errors %}
    <small>
      {{ err }}
    </small>
    {% endfor %}
  </div>
  {% endfor %}
  <button>Submit</button>
  <a href="/">Go Back</a>
</form> 
</div>

{% endblock %} 
