body {
  margin: auto;
  text-align: center;
  background-color: rgb(117, 115, 115);
}

.board {
  margin: auto;
  margin-top: 3em;
  border: solid 1px rgb(255, 255, 255);
  background-color: black;
  color: white;
  border-radius: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: bold;
  font-size: 200%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.board td {
  text-align: center;
  width: 1.5em;
  height: 1.5em;
  
}

.msg {
  padding: 1em;
}

p {
  margin: 2px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

ul {
  /* position:absolute; left:700px; top:80px; */
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding-left: 0;
  margin: 0;
  list-style: none;
}  

body {
  background: rgba(0, 176, 255, .7);
}

.center {
  position: absolute;
  top:5%;
  left:50%;
  transform: translate(-50%,-50%);
}

#cloud {
  background: rgba(255, 255, 255);
  width: 150px; 
  height: 50px;
  border-radius: 150px;	
  box-shadow: 10px 10px rgba(0,0,0,0.2);
  animation: move 3s infinite;
  /* text-align:inherit; */
  padding-top: 7px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  letter-spacing: 6px;
  font-weight: bolder;
  color: rgb(17, 129, 199)
}

/* #cloud:after {
  content: '';
  background: rgba(255, 255, 255);
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: -50px;
  left: 50px;
} */

/* #cloud:before {
  content: '';
  background: rgba(255, 255, 255);
  position: absolute;
  width: 85px;
  height: 75px;
  border-radius: 50%;
  top: -90px;
  right: 40px;
} */

@keyframes move {
  0% {
    transform: translatex(0);
  }
  50% {
    transform: translatex(-40px);
  }
}