{% extends 'base.html' %}

{% block title %} Edit Post Form {% endblock %}

{% block content %}
<h1>Edit Post</h1>

<form action="/posts/{{post.id}}/edit" method="POST">
  <label for="title">Title</label>
  <input type="text" id="title" name="title" placeholder="{{post.title}}" value="{{ post.title }}">
  <label for="content">Post Content</label>
  <input type="text" id="content" name="content" placeholder="{{post.content}}">
  {% for tag in tags %}
  <input type="checkbox" value="{{ tag.id }}" id="tag_{{ tag.id }}" {% if tag in post.tags %}checked{% endif %} name="tags">
  <label for="tag_{{ tag.id }}">{{ tag.name }}</label>
  {% endfor %}
  <button>Edit</button>
  <a href="/users/{{ post.user_id }}">Cancel</a>
</form>


{% endblock %}