{% extends 'base.html' %}

{% block title %} Edit Tag Page {% endblock %}

{% block content %}

<h1>Edit a Tag</h1>
<form action="/tags/{{ tag.id }}/edit" method="POST">
  <label for="name">Name</label>
  <input type="text" id="name" name="name" value="{{ tag.name }}" placeholder="{{ tag.name }}">

  {% for post in posts %}
  <input type="checkbox" value="{{ post.id }}" id="post_{{ post.id }}" name="posts" 
  {% if post in tag.posts %} checked {% endif %}>
  <label for="post_{{ post.id }}">{{ post.title }}</label>
  {% endfor %}
  <a href="/tags">Cancel</a>
  <button type="submit">Edit</button>
</form>
{% endblock %}