{% extends 'base.html' %}

{% block title %} User Detail Page {% endblock %}

{% block content %}

<h1>{{user.first_name}} {{user.last_name}}</h1>
<img src="{{user.image_url}}" alt="">
<a href="/users/{{user.id}}/edit">Edit</a>
<form action="/users/{{user.id}}/delete" method="POST">
<button>Delete</button>
</form>
<h2>Posts</h2>
<ul>
{% for post in user.posts %}
  <li>
    <a href="/posts/{{post.id}}">{{post.title}}</a>
    <small>{{post.nice_date}}</small>
  </li>
{% endfor %} 
</ul>
<a href="/users/{{user.id}}/posts/new">Add Post</a>
{% endblock %}